Node Red/flows.json
[
    {
        "id": "b7f17652d48543af",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce8559416e55fa29",
        "type": "comment",
        "z": "b7f17652d48543af",
        "name": "E_(TU)",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e589beccf155e9a",
        "type": "inject",
        "z": "b7f17652d48543af",
        "name": "Trigger",
        "props": [
            {
                "p": "mode",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "ds1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "9f978c29c9fbc913"
            ]
        ]
    },
    {
        "id": "9f978c29c9fbc913",
        "type": "function",
        "z": "b7f17652d48543af",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "af1e3025e50f399c"
            ]
        ]
    },
    {
        "id": "af1e3025e50f399c",
        "type": "http request",
        "z": "b7f17652d48543af",
        "name": "Execute mode change",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3300/mode-change",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 620,
        "y": 160,
        "wires": [
            [
                "ca4f7e11bba166dd"
            ]
        ]
    },
    {
        "id": "692fe2dfb3035b60",
        "type": "comment",
        "z": "b7f17652d48543af",
        "name": "E_(BCSS)",
        "info": "",
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "0d346bead0371df3",
        "type": "debug",
        "z": "b7f17652d48543af",
        "name": "After Switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "ca4f7e11bba166dd",
        "type": "switch",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "failure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "0d346bead0371df3"
            ],
            [
                "e6dc6fb0fac114f2"
            ]
        ]
    },
    {
        "id": "a0382863d1f3a3c4",
        "type": "file in",
        "z": "b7f17652d48543af",
        "name": "Mode File Read",
        "filename": "C:\\nba\\NBA\\Ds1\\mode.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "934e70a816d61ce6"
            ]
        ]
    },
    {
        "id": "4f529ac8c7486f43",
        "type": "comment",
        "z": "b7f17652d48543af",
        "name": "E_(DCU)",
        "info": "",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "d540f82f1c58db34",
        "type": "comment",
        "z": "b7f17652d48543af",
        "name": "E_(DS)",
        "info": "",
        "x": 110,
        "y": 440,
        "wires": []
    },
    {
        "id": "9556d29eb75c8cd6",
        "type": "file",
        "z": "b7f17652d48543af",
        "name": "Mode File Store",
        "filename": "C:\\nba\\NBA\\Ds1\\mode.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 280,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "321a2addcd5d6c89",
        "type": "debug",
        "z": "b7f17652d48543af",
        "name": "No",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "0902dddf2adf8086",
        "type": "http request",
        "z": "b7f17652d48543af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3300/ds1-puf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "737dd5f5a9ada490"
            ]
        ]
    },
    {
        "id": "b3d3477efa0c72dc",
        "type": "file in",
        "z": "b7f17652d48543af",
        "name": "ds1_puf",
        "filename": "C:\\nba\\NBA\\Ds1\\ds1_puf.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "339099ed1c0b69e8"
            ]
        ]
    },
    {
        "id": "737dd5f5a9ada490",
        "type": "join",
        "z": "b7f17652d48543af",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload.flow",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 560,
        "wires": [
            [
                "491969eb036c15ef"
            ]
        ]
    },
    {
        "id": "4915a02485e857d3",
        "type": "switch",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "321a2addcd5d6c89"
            ],
            [
                "0902dddf2adf8086"
            ]
        ]
    },
    {
        "id": "e6dc6fb0fac114f2",
        "type": "function",
        "z": "b7f17652d48543af",
        "name": "",
        "func": "var msg1 ={ payload:msg.mode};\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "9556d29eb75c8cd6"
            ]
        ]
    },
    {
        "id": "8595f33851ee6eb5",
        "type": "debug",
        "z": "b7f17652d48543af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "218acf00eb68a3f3",
        "type": "inject",
        "z": "b7f17652d48543af",
        "name": "Trigger",
        "props": [
            {
                "p": "x1",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "x2",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "x3",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "flow",
                "v": "DCU",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "a0382863d1f3a3c4",
                "b3d3477efa0c72dc"
            ]
        ]
    },
    {
        "id": "934e70a816d61ce6",
        "type": "json",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "4915a02485e857d3"
            ]
        ]
    },
    {
        "id": "339099ed1c0b69e8",
        "type": "json",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "737dd5f5a9ada490"
            ]
        ]
    },
    {
        "id": "491969eb036c15ef",
        "type": "switch",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload.server.y1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.file.y1",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload.file.y1",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 560,
        "wires": [
            [
                "9e68b7f7f4c62612"
            ],
            [
                "8595f33851ee6eb5"
            ]
        ]
    },
    {
        "id": "9e68b7f7f4c62612",
        "type": "switch",
        "z": "b7f17652d48543af",
        "name": "",
        "property": "payload.server.y2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "payload.file.y2",
                "vt": "msg"
            },
            {
                "t": "neq",
                "v": "payload.file.y2",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "2c56f4ab7ab0e790"
            ],
            [
                "e8e216ce1b2dceca"
            ]
        ]
    },
    {
        "id": "e8e216ce1b2dceca",
        "type": "debug",
        "z": "b7f17652d48543af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 620,
        "wires": []
    },
    {
        "id": "2c56f4ab7ab0e790",
        "type": "http request",
        "z": "b7f17652d48543af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:3300/authentication",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1310,
        "y": 740,
        "wires": [
            [
                "428c3836c0c4954c"
            ]
        ]
    },
    {
        "id": "428c3836c0c4954c",
        "type": "debug",
        "z": "b7f17652d48543af",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 740,
        "wires": []
    }
]